/* index.html */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.buttons button {
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #888;
    background: #ccc;
}

.buttons button a {
    text-decoration: none;
    color: #000;
}

.row {
    display: flex;
    flex-direction: row;
}

.cafe {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.table {
    width: 200px;
    height: 200px;
    background-color: #888;
    border: 2px solid #888;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.table .table-price {
    position: absolute;
    bottom: 20px;
}

.table[data-status="occupied"] {
    background-color: red;
}

.table-price {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
}

.modal-content h2 {
    text-align: center;
}

#menuList, #fullMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#menuList li, #fullMenu li {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
}

#menuList li img, #fullMenu li img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

#menuList li span {
    margin: 0 5px;
}

#menuList .price, #fullMenu .price {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 8px;
}

.minus, .plus {
    font-size: 20px;
    cursor: pointer;
}

#orderSummary {
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}

#orderList {
    position: relative;
    list-style-type: none;
    padding: 0;
}

#orderList li {
    margin-bottom: 10px;
}

.orderBtn {
    position: absolute;
    bottom: 10px;
    right: 50px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #888;
    background: #ccc;
    cursor: pointer;
}

#totalPrice {
    font-weight: bold;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* menu.html */

.container {
    width: 100%;
    height: 100vh;
}

/* add-product.html */

.product-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    background: #888;
    border-radius: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 35px;
}

.form-group label {
    margin: 5px;
    font-weight: bold;
}

.form-group input {
    height: 25px;
    width: 350px;
    outline: 0;
    border: 0;
    border-radius: 5px;
}

.btn {
    margin: 10px 35px;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 20px;
    background: #ccc;
    cursor: pointer;
}

::placeholder {
    padding-left: 5px;
}